# PROJET PYTHON

1.   Code Python
2.   Pandas et Numpy

# Partie I

EXERCICE 1

Une suite de Fibonacci est la suite entière de 0, 1, 1, 2, 3, 5, 8....

Les deux premiers termes sont 0 et 1. Tous les autres termes sont obtenus en ajoutant les deux termes précédents. Cela signifie que le nième terme est la somme de (n-1)ième et (n-2)ème terme.

1.  Implémentez la suite en utilisant la boucle while
2.  Implémentez la suite en utilisant la fonction récursive

EXERCICE 2

Écrivez un programme Python pour compter le nombre de caractères (fréquence des caractères) dans une chaîne.

Exemple de chaîne : 'chilli' Résultat attendu : {'c': 1, 'h':1, 'i': 2, 'l': 2}

# Résolution

### EXERCICE 1

  1. La suite de Fibonacci en utilisant la boucle while

In [1]:
n = int(input("Entrez le nombre de termes de la suite de Fibonacci à afficher : "))

# initialisation des deux premiers termes
a, b = 0, 1

# affichage des n premiers termes
i = 0
while i < n:
    print(a, end=' ')
    a, b = b, a+b
    i += 1

Entrez le nombre de termes de la suite de Fibonacci à afficher : 10
0 1 1 2 3 5 8 13 21 34

 2. La suite de Fibonacci en utilisant la fonction récursive

In [2]:
def fibonacci_recursive(n):
    if n <= 1:
        return n
    else:
        return fibonacci_recursive(n-1) + fibonacci_recursive(n-2)
    
n = int(input("Entrez le nombre de termes de la suite de Fibonacci à afficher : "))

for i in range(n):
    a=print(fibonacci_recursive(i))

Entrez le nombre de termes de la suite de Fibonacci à afficher : 10
0
1
1
2
3
5
8
13
21
34

### EXERCICE 2

Programme Python pour compter le nombre de caractères (fréquence des caractères) dans une chaîne.

In [3]:
def count_characters(chaine):
    # Créer un dictionnaire vide pour stocker le nombre d'occurrences de chaque caractère
    char_freq = {}
    
    # Parcourir chaque caractère de la chaîne
    for char in chaine:
        # Vérifier si le caractère est déjà présent dans le dictionnaire
        if char in char_freq:
            # Si oui, incrémenter le compteur de ce caractère
            char_freq[char] += 1
        else:
            # Sinon, ajouter le caractère au dictionnaire avec un compteur initialisé à 1
            char_freq[char] = 1
            
    # Retourner le dictionnaire contenant le nombre d'occurrences de chaque caractère
    return char_freq

# Exemple d'utilisation
chaine =  "chilli"
result = count_characters(chaine)
print(result)

{'c': 1, 'h': 1, 'i': 2, 'l': 2}

# PARTIE II


### Step 1. Importation des librairies nécéssaire

In [4]:
# importer la librairie pandas avec pd pour alias
# importer la librairie Numpy avec np pour alias
# Importation ici
import pandas as pd
import numpy as np


### Step 2. Importer le jeu de donnée restaurant.csv

In [5]:
restau = pd.read_csv("restaurant.csv",index_col=0) # ici le code

### Step 3. Affichage de donnée

Assurez vous d'avoir bien importer le fichier en affichant les 10 premières lignes

In [6]:
# Affichez les 10 premières lignes
# CODE ICI
restau.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. Affichez les informations des données importées?

In [7]:
# 1) Affichez les informations du fichier importé (nombre de lignes, de colonnes, nombre de lignes pour chaque colonne)
# CODE ICI !!
restau.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 216.7+ KB

In [8]:
# 2) Affichez le nombre de colonnes
# CODE ICI
restau.shape[1]

5


### Step 5. Affichez la liste des colonnes.

In [9]:
restau.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 6. Affichez l'ordre d'indexation?

In [10]:
restau.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            4612, 4613, 4614, 4615, 4616, 4617, 4618, 4619, 4620, 4621],
           dtype='int64', length=4622)

### Step 7 Déterminez le repas le plus commandé et la quantité de commande?

In [11]:
# Regroupez les données suivant la colonne item_name
c = restau.groupby('item_name')

# Fait la somme de chaque item_name
c = c.sum()

# Triez les données dans l'ordre décroissant et affichez la première ligne
c = c.sort_values('quantity', ascending=False)
print(c.head(1))

# Affichez le repas le plus commandé et la quantité de commande
repas_plus_commande = c.index[0]
quantite_commande = c.iloc[0]['quantity']
print(f"Le repas le plus commandé est {repas_plus_commande} avec une quantité de commande de {quantite_commande}.")

              order_id  quantity
item_name
Chicken Bowl    713926       761
Le repas le plus commandé est Chicken Bowl avec une quantité de commande de 761.

### Step 8. Combien de repas ont été commandé au total?

In [12]:
# Calculer le nombre total d'articles commandés
total_items_orders = restau['quantity'].sum()

# Afficher le résultat
total_items_orders

4972

### Step 9. Changez le type des données de la colonnes item_price en float

#### Step 9.a. déterminer le type de la colonne item_price

In [13]:
# Afficher le type de données de la colonne "item_price"
restau['item_price'].dtype

dtype('O')

#### Step 9.b. Créez une fonction lambda pour convertir les données en float

In [14]:
# La fonction lambda qui convertit les valeurs de la colonne en nombres flottants
sans_dollar = lambda x: float(x[1:-1])

# Appliquer la fonction lambda à la colonne "item_price"
restau.item_price = restau.item_price.apply(sans_dollar)

#### Step 9.c. Verifiez à nouveau le type de la colonne item_price

In [15]:
# Afficher le type de données de la colonne "item_price"
print(restau['item_price'].dtype)

float64

### Step 10. Quel est le revenu total?

In [16]:
# Calculer le revenu total pour toutes les commandes
revenue = (restau['quantity']* restau['item_price']).sum()

#Afficher le revenu total
print('Revenu total: $' + str(np.round(revenue,2)))

Revenu total: $39237.02

### Step 11. Combien de commandes ont été reçues ?

In [17]:
# Déterminer le nombre de commandes reçues
orders = restau['order_id'].count()

# Afficher le nombre de commandes
orders

4622

### Step 12. Quelle est la moyenne de revenu par commande?

In [18]:
# Ajouter une colonne "revenue" au dataframe
restau['revenue'] = restau['quantity'] * restau['item_price']

# Regrouper les données par "order_id" et sommer les revenus
order_grouped = restau.groupby('order_id')['revenue'].sum()

# Calculer la moyenne des revenus par commande
mean_revenue = order_grouped.mean()

# Afficher la moyenne des revenus
#print('La moyenne des revenus par commande est de : $' + str(mean_revenue))
mean_revenue

21.394231188658654

### Step 13. Combien de repas différents sont vendus?

In [19]:
# Déterminer le nombre de repas différents vendus
num_items = restau['item_name'].nunique()

# Afficher le nombre de repas différents vendus
#print('Nombre de repas différents vendus: ' + str(num_items))
num_items

50